<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Calculadora
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-item>
    <ion-label position="floating">Operação</ion-label>
    <ion-input></ion-input>
  </ion-item>
  <ion-item>
    <ion-label>Resultado: </ion-label>
  </ion-item>

  <ion-grid>
    <ion-row>
      <ion-col>
        <ion-button expand="full" color="primary">MC</ion-button>
      </ion-col>
      <ion-col>
        <ion-button expand="full" color="primary">MR</ion-button>
      </ion-col>
      <ion-col>
        <ion-button expand="full" color="primary">M+</ion-button>
      </ion-col>
      <ion-col>
        <ion-button expand="full" color="primary">M-</ion-button>
      </ion-col>
      <ion-col>
        <ion-button expand="full" color="primary">MS</ion-button>
      </ion-col>
      <ion-col>
        <ion-button expand="full" color="primary">M▾</ion-button>
      </ion-col>
    </ion-row>
  </ion-grid>

  <ion-grid>
    <ion-row>
      <ion-col>
        <ion-button size="large" expand="full" color="primary">%</ion-button>
      </ion-col>
      <ion-col>
        <ion-button size="large" expand="full" color="primary">√</ion-button>
      </ion-col>
      <ion-col>
        <ion-button size="large" expand="full" color="primary">x²</ion-button>
      </ion-col>
      <ion-col>
        <ion-button size="large" expand="full" color="primary">1/x</ion-button>
      </ion-col>
    </ion-row>
  </ion-grid>

  <ion-grid>
    <ion-row>
      <ion-col>
        <ion-button size="large" expand="full" color="primary">CE</ion-button>
      </ion-col>
      <ion-col>
        <ion-button size="large" expand="full" color="primary">C</ion-button>
      </ion-col>
      <ion-col>
        <ion-button size="large" expand="full" color="primary"><ion-icon name="close-circle"></ion-icon></ion-button>
      </ion-col>
      <ion-col>
        <ion-button size="large" expand="full" color="primary">÷</ion-button>
      </ion-col>
    </ion-row>
  </ion-grid>

  <ion-grid>
    <ion-row>
      <ion-col>
        <ion-button size="large" expand="full" color="primary">7</ion-button>
      </ion-col>
      <ion-col>
        <ion-button size="large" expand="full" color="primary">8</ion-button>
      </ion-col>
      <ion-col>
        <ion-button size="large" expand="full" color="primary">9</ion-button>
      </ion-col>
      <ion-col>
        <ion-button size="large" expand="full" color="primary">X</ion-button>
      </ion-col>
    </ion-row>
  </ion-grid>

  <ion-grid>
    <ion-row>
      <ion-col>
        <ion-button size="large" expand="full" color="primary">4</ion-button>
      </ion-col>
      <ion-col>
        <ion-button size="large" expand="full" color="primary">5</ion-button>
      </ion-col>
      <ion-col>
        <ion-button size="large" expand="full" color="primary">6</ion-button>
      </ion-col>
      <ion-col>
        <ion-button size="large" expand="full" color="primary">-</ion-button>
      </ion-col>
    </ion-row>
  </ion-grid>

  <ion-grid>
    <ion-row>
      <ion-col>
        <ion-button size="large" expand="full" color="primary">1</ion-button>
      </ion-col>
      <ion-col>
        <ion-button size="large" expand="full" color="primary">2</ion-button>
      </ion-col>
      <ion-col>
        <ion-button size="large" expand="full" color="primary">3</ion-button>
      </ion-col>
      <ion-col>
        <ion-button size="large" expand="full" color="primary">+</ion-button>
      </ion-col>
    </ion-row>
  </ion-grid>

  <ion-grid>
    <ion-row>
      <ion-col>
        <ion-button size="large" expand="full" color="primary">±</ion-button>
      </ion-col>
      <ion-col>
        <ion-button size="large" expand="full" color="primary">0</ion-button>
      </ion-col>
      <ion-col>
        <ion-button size="large" expand="full" color="primary">,</ion-button>
      </ion-col>
      <ion-col>
        <ion-button size="large" expand="full" color="primary">=</ion-button>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
